.vs/
*.suo
*.user
obj
Debug
bin
/obj/Debug/net6.0/DSOO-Grupo4-TP1.AssemblyInfo.cs
/obj/Debug/net6.0/DSOO-Grupo4-TP1.AssemblyInfoInputs.cache
/obj/Debug/net6.0/DSOO-Grupo4-TP1.assets.cache
/obj/Debug/net6.0/DSOO-Grupo4-TP1.GeneratedMSBuildEditorConfig.editorconfig
/obj/DSOO-Grupo4-TP1.csproj.nuget.dgspec.json
/obj/DSOO-Grupo4-TP1.csproj.nuget.g.props
/obj/project.assets.json
/obj/project.nuget.cache
